# Web framework
fastapi==0.115.0
uvicorn[standard]==0.30.6

# Settings & validation
pydantic==2.9.2
pydantic-settings==2.5.2

groq==0.11.0
sentence-transformers==3.0.1
qdrant-client==1.11.0

# PDF parsing
pymupdf==1.24.13

# Code parsing
tree-sitter==0.23.2
tree-sitter-python==0.23.4
tree-sitter-javascript==0.23.1

# Git repo loading
gitpython==3.1.43

# File handling
python-multipart==0.0.12
aiofiles==24.1.0

# Text splitting
tiktoken==0.8.0
langchain-text-splitters==0.3.2
